# Environment variables
.env
.env.*
!.env.example
config/.env

# Python
agents/__pycache__
ai_services/__pycache__
config/__pycache__
/database/__pycache__
/information_retrieval/__pycache__
/security/__pycache__

# IDE
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
logs/

# Database files
*.db
*.sqlite
*.sqlite3




/__pycache__
